<div class="container mx-auto p-6 max-w-6xl">
    <h1 class="text-4xl font-bold mb-6">Email Marketing - Filtrer les Utilisateurs</h1>
  
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2">Filtrer par groupe d'âge :</label>
      <select class="border p-2 w-full" [(ngModel)]="selectedFilters.ageGroup">
        <option value="" selected [value]="null">Tout</option>
        <option *ngFor="let group of ageGroups" [value]="group">{{ group }}</option>
      </select>
    </div>
  
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2">Filtrer par genre :</label>
      <select class="border p-2 w-full" [(ngModel)]="selectedFilters.gender">
        <option value="" selected [value]="null">Tout</option>
        <option *ngFor="let gender of genders" [value]="gender">{{ gender }}</option>
      </select>
    </div>
  
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2">Tickets non réclamés ou jamais participé :</label>
      <select class="border p-2 w-full" [(ngModel)]="selectedFilterOption">
        <option value="" selected [value]="null">Tout</option>
        <option [value]="'hasUnclaimedTickets'">Tickets non réclamés</option>
        <option [value]="'hasNeverParticipated'">Jamais participé</option>
      </select>
    </div>
    
  
    <button class="bg-blue-500 text-white font-bold py-2 px-4 rounded" (click)="filterUsers()">Filtrer</button>
  
    <!-- Afficher les utilisateurs filtrés -->
    <div *ngIf="isLoading" class="mt-6">Chargement...</div>
    <div *ngIf="!isLoading && users.length > 0" class="mt-6">
      <h2 class="text-2xl font-bold mb-4">Utilisateurs filtrés</h2>
      <ul>
        <li *ngFor="let user of users" class="border p-2 mb-2">
          {{ user.firstname }} {{ user.lastname }} - {{ user.email }}
        </li>
      </ul>
    </div>
  
    <!-- Affichage d'un message d'erreur -->
    <p *ngIf="errorMessage" class="text-red-500 mt-4">{{ errorMessage }}</p>
  </div>
  