<div class="container mx-auto p-6 max-w-6xl text-center">
  <h1 class="text-4xl font-bold mb-6">Jeu de Loterie</h1>

  <h2 class="text-2xl mb-4">Gros lot - Un an de thé d'une valeur de 360€</h2>

  <!-- Si un gagnant existe déjà -->
  <div *ngIf="lotteryGame?.userId; else noWinner">
    <h2 class="text-3xl font-semibold mb-6">
      Le gagnant est : {{ lotteryGame?.user?.firstname }} {{ lotteryGame?.user?.lastname }}
    </h2>
  </div>

  <!-- Si aucun gagnant n'a encore été tiré -->
  <ng-template #noWinner>
    <button 
      *ngIf="!isLoading"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      (click)="drawWinner()">
      Tirer au sort
    </button>

    <!-- Effet de tirage en cours -->
    <div *ngIf="isLoading" class="flex justify-center items-center mt-6">
      <p class="text-xl">Tirage au sort en cours...</p>
      <div class="ml-4 h-12 w-12 border-4 border-t-blue-500 border-gray-300 rounded-full animate-spin"></div>
    </div>
  </ng-template>

  <!-- Message d'erreur si présent -->
  <p *ngIf="errorMessage" class="text-red-500 mt-4">{{ errorMessage }}</p>
</div>
