<div class="prize-list-container">
    <h1 class="text-center text-4xl font-bold mb-6">Liste des Prix</h1>

    <div *ngIf="prizes.length === 0" class="text-center">
        <p>Aucun prix disponible.</p>
    </div>

    <div *ngFor="let prize of prizes" class="prize-item p-4 border mb-4 rounded">
        <h2>{{ prize.name }}</h2>
        <p>Description : {{ prize.description }}</p>
        <a [routerLink]="['/admin/prizes', prize.id]" class="text-blue-500 hover:underline">Voir les détails</a>
    </div>
</div>
