<!-- <div *ngIf="user"> -->
<div>
    <h2>Détails de l'utilisateur</h2>
    <!-- <p>Nom : {{ user.firstname }} {{ user.lastname }}</p>
    <p>Email : {{ user.email }}</p> -->
    <p>Nom : ss</p>
    <p>Email : ss</p>

    <h3>Historique des tickets et gains</h3>
    <ul>
        <!-- <li *ngFor="let prize of user.prizeDistributions">
            {{ prize.prize.name }} - {{ prize.isClaimed ? 'Réclamé' : 'Non réclamé' }}
        </li> -->
        <li>
            thé - Réclamé
        </li>
    </ul>
    <button (click)="onDeleteUser()">Supprimer Utilisateur</button>
</div>
