<header class="bg-green-500 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
        <!-- Logo -->
        <a routerLink="/" class="text-xl font-bold flex items-center">
            <img src="assets/logo.png" alt="Thé Tip Top" class="h-10 mr-3"/>
            Thé Tip Top
        </a>
    
        <!-- Menu de Navigation -->
        <nav class="space-x-6">
            <a routerLink="/home" class="hover:text-yellow-200">Accueil</a>
            <a routerLink="/participate" class="hover:text-yellow-200">Participer</a>
            <a routerLink="/user-gains" class="hover:text-yellow-200">Mes Gains</a>
        </nav>
  
        <!-- Bouton de Participation -->
        <button routerLink="/participate" class="bg-yellow-400 text-green-800 px-4 py-2 rounded hover:bg-yellow-300">
            Participez
        </button>
    </div>
</header>
