<header class="bg-blue-900 p-4 text-white flex justify-between items-center">
    <div class="logo text-lg font-bold">
        <a routerLink="/admin/dashboard">Admin Dashboard</a>
    </div>
    <nav>
        <ul class="flex space-x-4">
            <li><a routerLink="/admin/dashboard" class="hover:underline">Tableau de Bord</a></li>
            <li><a routerLink="/admin/users" class="hover:underline">Gestion des gains d'un ticket d'user</a></li>
            <li><a routerLink="/admin/lottery-game" class="hover:underline">Tirage au sort</a></li>
            <li><a routerLink="/admin/stats" class="hover:underline">Statistiques</a></li>
            <li><a routerLink="/admin/emails" class="hover:underline">Emails</a></li>
            <li><button class="hover:underline" (click)="logout()">Déconnexion</button></li>
        </ul>
    </nav>
</header>
