<div class="user-gains-container mx-auto p-6 max-w-4xl">
    <h1 class="text-center text-4xl font-bold mb-6">Mes Gains</h1>

    <!-- <div *ngIf="userGains.length === 0" class="text-center text-lg"> -->
    <div class="text-center text-lg">
        <p>Aucun gain trouvé pour cet utilisateur.</p>
    </div>

    <!-- <div *ngFor="let gain of userGains" class="gain-item p-4 border mb-4 rounded"> -->
    <div class="gain-item p-4 border mb-4 rounded">
        <!-- <h2 class="text-2xl font-semibold">{{ gain.prizeName }}</h2> -->
        <h2 class="text-2xl font-semibold">Thé matcha</h2>
        <!-- <p>Date de gain : {{ gain.date | date }}</p>
        <p>Status : {{ gain.isClaimed ? 'Réclamé' : 'Non réclamé' }}</p> -->
        <p>Date de gain : XXXXXX</p>
        <p>Status : Non réclamé</p>
    </div>
</div>
